<!DOCTYPE html>

<html lang="en">
  <head>
    <title>
      Thank you
    </title>
  </head>
  <body>
CS50 <br>
Harvard University <br>

Thank you Professor David as well as Brian Yu for the scratch basis.
is.R() #?
#utf8

<iframe
    width="100"
    height="100"
    src="file://C:/Harvard/CS50x/ProblemSet0/WIN_20200411_02_07_55_Pro.jpg">
</iframe>

<br><br>
<br><br>
<iframe
    width="200"
    height="100"
    src="file://C:/Harvard/CS50x/ProblemSet0/Proj/PS0.mp4">
</iframe>


</body>
</html>

